doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    title mapapp
    link(rel='stylesheet', href='/css/style.css')
    script(src='https://use.fontawesome.com/a4ab12e57d.js')
    //- script(src='jquery.min.js', type='text/javascript')
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src='/jquery.leanModal.min.js', type='text/javascript')
    
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.js')

  body
    header
      h1 mapapp
        i.fa.fa-map-marker.fa-2x(aria-hidden='true')
      ul
        if typeof userId !== 'undefined' 
          div.head
            p.login-user #{userName}さんとしてログインしています
          div.head
            a.btn(href='/signout') ログアウト
    #map
    //- form(action='/location', method='post', id='spot-form')
    //-   input(type='hidden', name='lat', value='35.000', id='lat')
    //-   input(type='hidden', name='lng', value='135.000', id='lng')
    //-   button.submit(type='submit') この場所を登録する
    button(type='button', onClick='saveSpot()') この場所を登録する
    input(type='hidden', name='lat', value='35.000', id='lat')
    input(type='hidden', name='lng', value='135.000', id='lng')

    a(rel='leanModal', href='#modal', onClick='dispSpots()') 登録した場所一覧

    #modal

    script(type='text/javascript').
      $(function() {
        $( 'a[rel*=leanModal]').leanModal({
          top: 50,                     // モーダルウィンドウの縦位置を指定
          overlay : 0.5,               // 背面の透明度
          closeButton: ".modal_close"  // 閉じるボタンのCSS classを指定
        });
      });


    script(type='text/javascript').
      $('#spot-form').submit(function(event){
        console.log('abc');
        event.preventDefault();

        var $form = $(this);

        var $button = $form.find('button');

        $.ajax({
          url: $form.attr('action'),
          type: $form.attr('method'),
          data: $form.serialize(),
          timeout: 10000,

          beforeSend: function(xhr, settings) {
            $button.attr('disabled', true);
          },
          complete: function(xhr, settings){
            $button.attr('disabled', false);
          },
        });
      });

    
    script.
      var map;
      function initFunc() {
        let lat = 35.000, 
            lng = 135.000;

        let initMap = (lat, lng) => {
          map = new google.maps.Map(document.getElementById('map'), {
            center: { lat, lng },
            zoom: 8,
            styles: [
              {elementType: 'labels.text.fill', stylers: [{color: '#fac700'}]},
              {
               featureType: 'administrative',
               stylers: [{color: '#d23549'},{visibility: 'simplified'}]
              },
               {
               featureType: 'poi',
               stylers: [{visibility: 'off'}]
              },
               {
               featureType: 'transit',
               stylers: [{visibility: 'simplified'}]
              },
              {
                featureType: 'water',
                stylers: [{color: '#009bdb'}]
              },
              {
              featureType: 'landscape.natural',
              stylers: [{color: '#67b62d'}]
              },
              {
              featureType: 'landscape.man_made',
              stylers: [{color: '#ff8b22'}]
              },
              {
              featureType: 'road',
              stylers: [{visibility: 'simplified'}]
              }
            ]
          });
          let marker = new google.maps.Marker({

            position: { lat, lng },
            map
          });

          console.log(lat, lng)
          document.getElementById('lat').value = lat;
          document.getElementById('lng').value = lng;
        }

        let getPos = () => {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition((pos) => {
              lat = pos.coords.latitude;
              lng = pos.coords.longitude;
              initMap(lat, lng)
            })
          }
        }
        getPos();
      }

    script.
      function saveSpot() {
        console.log('def');
        lat = document.getElementById('lat').value;
        lng = document.getElementById('lng').value;

        $.ajax({
          url: 'https://maps.googleapis.com/maps/api/geocode/json',
          type: 'get',
          data: {
            latlng: `${lat},${lng}`,
            key: 'AIzaSyB-tbbm7yuonMEKcGOcfwwW-N8Kar96GRY'
          }

        }).done(function(msg){
          //- console.log(msg.results[0]['address_components'][0]['long_name']);

          $.ajax({
            url: '/location',
            type: 'post',
            data: {
              lat,
              lng,
              address: msg.results[0]['address_components'][0]['long_name']
            },
            timeout: 10000,

            //- beforeSend: function(xhr, settings) {
            //-   $button.attr('disabled', true);
            //- },
            //- complete: function('disabled', false);
            //- },
          });
        })
      }


      function dispSpots() {
        //- console.log('def');
        //- lat = document.getElementById('lat').value;
        //- lng = document.getElementById('lng').value;

        //- addressLists.forEach () {

        //- }
        $.ajax({
            url: '/spots', //data read?
            type: 'get',
            dataType: 'json',
            // addressLists に入ってるデータをモーダルで表示
            success: function(addressLists) {
              $('#modal').html()

            },
            timeout: 10000,
        })
      }


    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB-tbbm7yuonMEKcGOcfwwW-N8Kar96GRY&callback=initFunc', async, defer)

    //- script(src='https://maps.googleapis.com/maps/api/geocode/json?latlng=40.714224,-73.961452&key=AIzaSyB-tbbm7yuonMEKcGOcfwwW-N8Kar96GRY')

    //- script(src='https://maps.googleapis.com/maps/api/geocode/json&key=AIzaSyB-tbbm7yuonMEKcGOcfwwW-N8Kar96GRY')