doctype html
html
  head
    title
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  body
    .wrapper
      p.main-title
      form.board-form(action='/signin', method='post')
        span.label Eメール
        input.input(type='email', name='email', required='')
        br
        br
        span.label パスワード
        input.input(type='password', name='password', required='')
        br
        br
        button.submit(type='submit') ログイン
        if noUser !== 'undefined'
          p.error
            = noUser
    a.btn(href='/') Home