

html {
	background: #000;
}

span{
	color: #fff;
}

button{
	font-size: 20px;
	color: #fff;
	background: #000;
	border-radius: 10px;
	margin-left: 30px;
	padding: 2px 5px 1px 5px;
}

ul#pagination{
	padding: 0px;
}

button:hover {
	background-color: #555;
}

a#disp {
	font-size: 20px;
	color: #fff;
	background: #000;
	border-radius: 10px;
	border-style: solid;
    border-width: 1px;
	margin-left: 30px;
	padding: 6px 5px 6px 5px;
}

a#disp:hover {
	background-color: #555;
}

#map {
	width: 800px;
	height: 480px;
	margin-left: 30px;
	margin-bottom: 30px;
}

h1 {
	color: #d21940;
	text-shadow: 1px 1px 0 #fff,
	             -1px 1px 0 #fff,
	             1px -1px 0 #fff,
	             -1px -1px 0 #fff;
// 下
	text-shadow: 1px 1px 0.5px #fff,
	             -1px 1px 0.5px #fff,
	             1px -1px 0.5px #fff,
	             -1px -1px 0.5px #fff;
}

div.head {
	text-align: left;
}

header {
	margin-left: 30px;
	margin-bottom: 30px;
	padding-left: 10px;
	width: 790px;
	border-style: outset;
	border-color: #fff;
	border-radius: 10px;
}

p.login-user {
	color: #fff;
}

a.btn {
	color: #ffc42e;
	text-decoration: none;
}

a {
	text-decoration: none;
	font-size: 20px;
	color: #fff;
	background: #000;
	border-radius: 10px;
	margin-left: 30px;
}

a:hover {
	background-color: #555;
}

li {
	text-align: center;
	list-style:none;
}


#lean_overlay{
  position: fixed; z-index:100; 
  top: 0px;
  left: 0px;
  height: 300%;
  width: 100%;
  background: #000;
  display: none;
}
#modal{
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  display: none;
  padding: 30px;
  width: 780px;
 }
.modal_close{ 
  position: absolute;
  top: 12px;
  right: 12px;
  display: block; 
  width: 14px;
  height: 14px; 
  background: url(../img/modal_close.png);
  z-index: 2;
}
