html {
	background: #fff7af
}

#map {
	width: 800px;
	height: 480px;
}

h1 {
	color: #d21940;
}

div.head {
	text-align: left;
}

header {
	border-radius: 10px;
	background-image: linear-gradient(-45deg, #debb00, #e8949d);
/*	background: radial-gradient(#F2B9A1, #EA6264);*/
}

a.btn {
	color: #ffc42e;
	text-decoration: none;
}